<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiaomoyun.mapper.sal.yt.SalYtOrderSubItemOperationMapper">
    <select id="selectByOrderSubItemId" resultType="com.qiaomoyun.entity.sal.yt.SalYtOrderSubItemOperation">
        select syosio.*,
               (select nick_name from sys_user where user_id = syosio.create_user) as createUserName
        from sal_yt_order_sub_item_operation as syosio
        where order_sub_item_id=#{orderSubItemId}
        order by create_time desc
    </select>

    <select id="selectByPurchaseItemIdOrOrderSubItemId" resultType="com.qiaomoyun.entity.sal.yt.SalYtOrderSubItemOperation">
        select syosio.*,
               (select nick_name from sys_user where user_id = syosio.create_user) as createUserName
        from sal_yt_order_sub_item_operation as syosio
        where (purchase_item_id=#{purchaseItemId} or (order_sub_item_id=#{orderSubItemId} and purchase_item_id is null)) and is_deleted=0
        order by create_time desc
    </select>
</mapper>