<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiaomoyun.mapper.sto.yt.StoYtTransportCompanyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qiaomoyun.entity.sto.yt.StoYtTransportCompany">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="address" property="address" />
        <result column="is_home_service" property="isHomeService" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, name, type, address, is_home_service,
        create_user, create_time, update_user, update_time, tenant_id, is_deleted
    </sql>
    <select id="selectByName" resultType="com.qiaomoyun.entity.sto.yt.StoYtTransportCompany">
        select  *
        from sto_yt_transport_company
        where name = #{name}
        and is_deleted = 0
    </select>
</mapper>
